body {
    background-color: #141414;
    
}

header {
    height: 110px;
}

header h1 {
    font-size: 30px;
    color: white;
    margin-left: 5%;
    margin-bottom: 0;


}

nav {
    width: 100%;
    height: 60px;
}

nav img {
    width: 90px;
    height: 35px;
    margin-left: 32%;
}

.navbar-collapse {
    margin-left: 2%;
    justify-content: space-between;
}

.navbar-nav .nav-link.active,
.nav-link {
    color: white;
    font-size: small;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}

.nav-link:focus {
    color: white;
    font-weight: bold;
}

.user {
    width: 25px;
    height: 25px;
    background-color: white;
}

.sezioneNavDx {
    width: 10%;
    height: 10%;
    justify-content: space-around;
    margin-right: 2%;
}

.size {
    font-size: larger;
}

.dropdown-menu {
    position: relative;
}

.sottoNav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.boxH1Div {
    display: flex;
    width: inherit;
    gap: 3%;
    align-items: center;
}

.genere {
    width: 80px;
    height: 30px;
    border: 1px solid #3d3c3c;
    display: flex;
    align-items: center;
    padding-left: 4px;
    color: white;
    font-size: small;
    justify-content: space-around;
}

.triangolo {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
    margin-left: 3px;
}

.boxIcon {
    display: flex;
    width: 60px;
    height: 30px;
    border: 1px solid #3d3c3c;
    font-size: 20px;
    margin-right: 3%;
    align-items: center;
    color: #3d3c3c;
    cursor: pointer;
}

.boxIcon button {
    background: none;
    color: #3d3c3c;
    font-size: 15px;
    cursor: pointer;
}

.boxIcon button:hover,
button:focus {
    color: #6d6d6d;
}

main h2 {
    font-size: 25px;
    color: white;
    margin-left: 82px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.row {
    margin-left: -11%;
    padding-left: 0;
    padding-right: 1px;
    flex-wrap: nowrap;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}
.row-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.row-visible {
    opacity: 1;
    transform: translateY(0);
}

.col {
    flex: 0 0 0%;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 0;
    justify-content: space-around;
    width: 1%;
}
.carousel-control-prev{width: 5%;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    opacity: 0;
}





.card {
    background-color: #141414;
    position: relative;
    transition: transform 0.3s ease;
    z-index: 1;
    overflow: visible;
}

.card:hover {
    transform: translateY(-10px) matrix3d(1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 6, -2, 0, 1);
    z-index: 10;
    box-shadow: 0 16px 32px rgba(56, 56, 56, 0.13);
}


.card img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.card-body {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 1rem;
    z-index: 9999;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.card:hover .card-body {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.carousel-inner,
.carousel-item,
.container,
.row,
.col {
    overflow: visible !important;
    position: relative;
    z-index: 1;
}

.card-body>div {
    justify-content: space-between;
}

.card-body div p {
    font-size: x-small;
}


.icona {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.icona:hover {
    background-color: #0056b3;
}
main{ margin-bottom: 5%; overflow: hidden;}
.margine{
    margin-left: 25% !important;
}
.footer-social {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.footer-social a {
    color: #3d3c3c;
    font-size: 35px;
}

.footer-links {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.footer-links a {
    color: #3d3c3c;
    text-decoration: none;
    font-size: small;
    display: block;
    width: 25%;
    margin-bottom: 2%;

}

footer .genere {
    color: #3d3c3c;
    margin-bottom: 1%;
    margin-top: 1%;
}

footer>p {
    color: #3d3c3c;
    font-size: small;
}



@media screen {
    .dropdown-menu[data-bs-popper] {
        left: -130px;
    }

    .dropdown-toggle::after {
        color: white;
        position: absolute;
        right: 12px;
        font-size: 15px;
        top: 25px;
    }
    
}

@media screen and (min-width: 340px) and (max-width: 430px) {
    .sezioneNavDx {
        width: 41%;
        height: 10%;
        gap: 10%;
    }

    .navbar-toggler {

        background: white;
    }

    nav img {

        margin-left: 0;
    }

    .dropdown-toggle::after {
        right: 93px;
    }
   
   
}

@media screen and (min-width: 431px) and (max-width: 520px) {
    .sezioneNavDx {
        width: 35%;
        height: 10%;
        gap: 10%;
        position: relative;
        left: 40px;
    }

    .navbar-toggler {

        background: white;
    }

    nav img {

        margin-left: 0;
    }

    .dropdown-toggle::after {
        right: -8px;
        top: 12px;
    }
    

}

@media screen and (min-width: 521px) and (max-width: 600px) {

    .sezioneNavDx {
        width: 28%;
        height: 10%;
        gap: 10%;
        position: relative;
        left: 55px;
    }

    .navbar-toggler {

        background: white;
    }

    nav img {

        margin-left: 0;
    }

    .dropdown-toggle::after {
        right: -12px;
        top: 12px;
    }
    
}
@media screen and (min-width: 340px) and (max-width: 600px) {
      .footer-social{width: 70%;}
    .footer-links{
        width: 69%;
        gap: 10%;
    }
}

@media screen and (min-width: 601px) and (max-width: 680px) {

    .sezioneNavDx {
        width: 25%;
        height: 10%;
        gap: 10%;
        position: relative;
        left: 90px;
    }

    .navbar-toggler {

        background: white;
    }

    nav img {

        margin-left: 0;
    }

    .dropdown-toggle::after {
        right: -12px;
        top: 12px;
    }
}

@media screen and (min-width: 681px) and (max-width: 768px) {

    .sezioneNavDx {
        width: 20%;
        height: 10%;
        gap: 10%;
        position: relative;
        left: 150px;
    }

    .navbar-toggler {

        background: white;
    }

    nav img {

        margin-left: 0;
    }

    .dropdown-toggle::after {
        right: -14px;
        top: 12px;
    }
}
@media (max-width: 768px) {
    .card-dx:hover{
        transform: translateX(60px);
        z-index: 30;
    }
    .card-sx:hover{
        transform: translateX(-85px);
        z-index: 30;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .sezioneNavDx {
        width: 22%;
        order: 3;
    }

    .navbar-collapse {
        display: flex !important;

    }

    .navbar-toggler {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-item {
        padding: 8px;
    }

    .dropdown-toggle::after {
        right: 11px;
        top: 23px;
    }
}

@media screen and (min-width: 992px) {
    .sezioneNavDx {
        order: 3;
    }

    .dropdown-toggle::after {
        right: 20px;
    }
}
@media screen and (min-width: 601px) and (max-width: 992px) {
    .footer-social {
        width: 40%;
    }

    .footer-links {
        width: 45%;
        
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .footer-social {
        width: 35%;
    }

    .footer-links {
        width: 40%;
        
    }
}
@media screen and (min-width: 1500px) {
    .dropdown-toggle::after {
        right: 40px;
    }
}